.editor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.preview{
    width: 100%;
    word-wrap: break-word;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

h1
{
    color: var(--col);
    text-align: center;
}

.newproject{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 4rem;
}
