@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  --bg: #EEF7FF;
  --txt: #333231; 
  --phd: #7C7B7D;
  --col: #0d49cb;
  max-width: 1280px;
  margin: auto;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  top: 0;
  background: var(--bg);
}

html, body, #root {
  height: 100%;
  width: 100%;
}